<% provide(:title, 'Home') %>
<h1>Project Tracker</h1>
<p>
  This is the home page for the prjctTrckr app based on the 
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
</p>